.all {
    display: flex;
    justify-content: center;
    height: 700px;
}

.banner1_box {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 95%;
}

.banner1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 96%;
    height: 220px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.upload_images {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
}

.upload_images1 {
    width: 150px;
}

.button_box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
}

.button_image {
    width: 300px;
}
