.all {
    display: flex;
    justify-content: center;
    height: 1000px;
}

.banner1_box {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 98%;
}

.banner1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 98%;
    height: 260px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.upload_images {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 350px;
}

.upload_images1 {
    width: 200px;
}

.button_box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 600px;
}

.button_image {
    width: 370px;
}